In [3]:
from flipside import Flipside
from flipside.models.query_result_set import QueryResultSet
import pandas as pd

In [5]:
# Initialize `Flipside` with your API Key and API Url
flipside = Flipside("6085f0d8-35de-4788-bf60-b63c98a960a1", "https://api-v2.flipsidecrypto.xyz")

sql = """
SELECT 
  date_trunc('hour', block_timestamp) as hour,
  count(distinct tx_hash) as tx_count
FROM ethereum.core.fact_transactions 
WHERE block_timestamp >= GETDATE() - interval'7 days'
GROUP BY 1
"""

# Run the query against Flipside's query engine and await the results
query_result_set = flipside.query(sql)

In [6]:
type(query_result_set)

flipside.models.query_result_set.QueryResultSet

In [7]:
# ref: https://alokamca.hashnode.dev/a-guide-to-blockchain-analytics-2-analyzing-token-swap-data-using-flipside

address = '0xe8c6c9227491c0a8156a0106a0204d881bb7e531'
sql = f"""
SELECT 
            *
FROM 
        ethereum.core.fact_event_logs
WHERE
        block_timestamp BETWEEN '2023-01-01' AND '2023-01-02'
        AND contract_address = LOWER('0xe8c6c9227491c0a8156a0106a0204d881bb7e531')
"""
results = flipside.query(sql)

In [8]:
sql = f"""
SELECT 
        *
FROM 
        ethereum.core.fact_event_logs
WHERE
        block_timestamp BETWEEN '2023-01-01' AND '2023-01-02'
        AND contract_address = LOWER('0xe8c6c9227491c0a8156a0106a0204d881bb7e531')
LIMIT 10
"""
query_result_set = flipside.query(sql)

df = pd.DataFrame(query_result_set)

In [9]:
df

              0                                                  1
0      query_id                          cltgcx3jb0e49oe0twlngdgws
1        status                                QUERY_STATE_SUCCESS
2       columns  [block_number, block_timestamp, tx_hash, origi...
3  column_types  [number, date, string, string, string, string,...
4          rows  [[16314351, 2023-01-01T20:37:11.000Z, 0xb5011a...
5     run_stats  started_at=datetime.datetime(2024, 3, 6, 22, 1...
6       records  [{'block_number': 16314351, 'block_timestamp':...
7          page  currentPageNumber=1 currentPageSize=10 totalRo...
8         error                                               None

In [10]:
df[1][4][0]

[16314351,
 '2023-01-01T20:37:11.000Z',
 '0xb5011a8297483ae75452b71b80b9614f341badc7391c0fe0023270f90d0cd55b',
 '0x38002102',
 '0x4d521577f820525964c392352bb220482f1aa63b',
 '0xb39bae8bc7003bf25b81a03d00006f70b900007c',
 2,
 '0xe8c6c9227491c0a8156a0106a0204d881bb7e531',
 ['0xc42079f94a6350d7e6235f29174924f928cc2ac818eb64fed8004e115fbcca67',
  '0x000000000000000000000000b39bae8bc7003bf25b81a03d00006f70b900007c',
  '0x000000000000000000000000c2adda861f89bbb333c90c492cb837741916a225'],
 '0xffffffffffffffffffffffffffffffffffffffffffffffffac9001720000000000000000000000000000000000000000000000000000000023b998ffc7b66b0b0000000000000000000000000000000000000000a755b0da2db761f7ede60c380000000000000000000000000000000000000000000000ef846358fac361d01fffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffdec7',
 False,
 'SUCCESS',
 '0xb5011a8297483ae75452b71b80b9614f341badc7391c0fe0023270f90d0cd55b-2',
 'd00dee5f26dea4dc4850bd37807ae9aa',
 '2000-01-01T00:00:00.000Z',
 '2000-01-01T00:00:00.000Z',
 0]

In [94]:
df[1][6][0]

{'block_number': 16311911,
 'block_timestamp': '2023-01-01T12:26:59.000Z',
 'tx_hash': '0x5233cba5aa0939998a0a77d2dc554030473b9ec14942a51e95278749bf890179',
 'origin_function_signature': '0x000200f8',
 'origin_from_address': '0x10e244353a915ba7beaf01ac9c63dd811ab9f71d',
 'origin_to_address': '0x57c1e0c2adf6eecdb135bcf9ec5f23b319be2c94',
 'event_index': 243,
 'contract_address': '0xe8c6c9227491c0a8156a0106a0204d881bb7e531',
 'topics': ['0xc42079f94a6350d7e6235f29174924f928cc2ac818eb64fed8004e115fbcca67',
  '0x00000000000000000000000057c1e0c2adf6eecdb135bcf9ec5f23b319be2c94',
  '0x00000000000000000000000057c1e0c2adf6eecdb135bcf9ec5f23b319be2c94'],
 'data': '0x0000000000000000000000000000000000000000000000006d90afc609dcefcbffffffffffffffffffffffffffffffffffffffffffffffffd16031acb94639200000000000000000000000000000000000000000a726a1c904b73f5ae885674a0000000000000000000000000000000000000000000000eeca8d60b549f3e77effffffffffffffffffffffffffffffffffffffffffffffffffffffffffffdeb1',
 'event_removed': False,
 'tx_status': 'SUCCESS',
 '_log_id': '0x5233cba5aa0939998a0a77d2dc554030473b9ec14942a51e95278749bf890179-243',
 'fact_event_logs_id': 'ee11f3216ee67fc4b4812b2ecc6c43a8',
 'inserted_timestamp': '2000-01-01T00:00:00.000Z',
 'modified_timestamp': '2000-01-01T00:00:00.000Z',
 '__row_index': 0}

In [11]:
df2 = pd.DataFrame(df[1][6])

In [12]:
df2

,block_number,block_timestamp,tx_hash,origin_function_signature,origin_from_address,origin_to_address,event_index,contract_address,topics,data,event_removed,tx_status,_log_id,fact_event_logs_id,inserted_timestamp,modified_timestamp,__row_index
0,16314351,2023-01-01T20:37:11.000Z,0xb5011a8297483ae75452b71b80b9614f341badc7391c...,0x38002102,0x4d521577f820525964c392352bb220482f1aa63b,0xb39bae8bc7003bf25b81a03d00006f70b900007c,2,0xe8c6c9227491c0a8156a0106a0204d881bb7e531,[0xc42079f94a6350d7e6235f29174924f928cc2ac818e...,0xffffffffffffffffffffffffffffffffffffffffffff...,False,SUCCESS,0xb5011a8297483ae75452b71b80b9614f341badc7391c...,d00dee5f26dea4dc4850bd37807ae9aa,2000-01-01T00:00:00.000Z,2000-01-01T00:00:00.000Z,0
1,16311911,2023-01-01T12:26:59.000Z,0xe7fe0c5a1f3c12d827876329761b1e275cefa6467106...,0x2e7a21ce,0x91aae0aafd9d2d730111b395c6871f248d7bd728,0x98c3d3183c4b8a650614ad179a1a98be0a8d6b8e,31,0xe8c6c9227491c0a8156a0106a0204d881bb7e531,[0xc42079f94a6350d7e6235f29174924f928cc2ac818e...,0x00000000000000000000000000000000000000000000...,False,SUCCESS,0xe7fe0c5a1f3c12d827876329761b1e275cefa6467106...,1da573aae4923dd658361a4c293fe769,2000-01-01T00:00:00.000Z,2000-01-01T00:00:00.000Z,1
2,16311212,2023-01-01T10:06:47.000Z,0x7af09763473a5e8b73e5e213c11320294fe943d860b7...,0x5ae401dc,0x9f65d2b75dd1169842e6aab9a65864b11441417a,0x68b3465833fb72a70ecdf485e0e4c7bd8665fc45,61,0xe8c6c9227491c0a8156a0106a0204d881bb7e531,[0xc42079f94a6350d7e6235f29174924f928cc2ac818e...,0xffffffffffffffffffffffffffffffffffffffffffff...,False,SUCCESS,0x7af09763473a5e8b73e5e213c11320294fe943d860b7...,7846f7e4e3f8cff33bc9caaf4ae3f712,2000-01-01T00:00:00.000Z,2000-01-01T00:00:00.000Z,2
3,16314345,2023-01-01T20:35:59.000Z,0x99c3e511064894d3e5b80262c605e97f106f57243c7d...,0xac9650d8,0xcaacebe2fdac9d3783563b9b80c714df82705226,0xc36442b4a4522e871399cd717abdd847ab11fe88,254,0xe8c6c9227491c0a8156a0106a0204d881bb7e531,[0x70935338e69775456a85ddef226c395fb668b63fa01...,0x000000000000000000000000c36442b4a4522e871399...,False,SUCCESS,0x99c3e511064894d3e5b80262c605e97f106f57243c7d...,7e2adbeb5d3406ea15d7d77c9d8eab9b,2000-01-01T00:00:00.000Z,2000-01-01T00:00:00.000Z,3
4,16308256,2023-01-01T00:13:23.000Z,0x07c3360388139ff714638b496514736e5f40ca7e72c3...,0x000600f8,0x479bc00624e58398f4cf59d78884d12fb515790a,0x57c1e0c2adf6eecdb135bcf9ec5f23b319be2c94,2,0xe8c6c9227491c0a8156a0106a0204d881bb7e531,[0xc42079f94a6350d7e6235f29174924f928cc2ac818e...,0x00000000000000000000000000000000000000000000...,False,SUCCESS,0x07c3360388139ff714638b496514736e5f40ca7e72c3...,f26aaf5a9754b6f82676a646ab2d3182,2000-01-01T00:00:00.000Z,2000-01-01T00:00:00.000Z,4
5,16312399,2023-01-01T14:04:59.000Z,0x42f76c36e8119eb23bf32c3b11b380787188029bec7d...,0xac9650d8,0x1591560fc90459467edc2319adaa8438bc13a306,0xc36442b4a4522e871399cd717abdd847ab11fe88,140,0xe8c6c9227491c0a8156a0106a0204d881bb7e531,[0x0c396cd989a39f4459b5fa1aed6a9a8dcdbc45908ac...,0x00000000000000000000000000000000000000000000...,False,SUCCESS,0x42f76c36e8119eb23bf32c3b11b380787188029bec7d...,fe6c1f79509359c4c3fc4237162936c1,2000-01-01T00:00:00.000Z,2000-01-01T00:00:00.000Z,5
6,16311873,2023-01-01T12:19:23.000Z,0x045cfb851d3ee97b6a094bd452f3b0a2a83dc1a4c073...,0x000600f8,0x479bc00624e58398f4cf59d78884d12fb515790a,0x57c1e0c2adf6eecdb135bcf9ec5f23b319be2c94,77,0xe8c6c9227491c0a8156a0106a0204d881bb7e531,[0x70935338e69775456a85ddef226c395fb668b63fa01...,0x00000000000000000000000057c1e0c2adf6eecdb135...,False,SUCCESS,0x045cfb851d3ee97b6a094bd452f3b0a2a83dc1a4c073...,6796a0ef6c26506e259dcca0ba1635ed,2000-01-01T00:00:00.000Z,2000-01-01T00:00:00.000Z,6
7,16313747,2023-01-01T18:36:11.000Z,0xec1f6c3634240783f161583cc0ade895caa238d93a27...,0x00029303,0x4425c20d8e84c48aebeb116cf7b9838d4833f78d,0xed77777586d73c58eb4d6bebdf9c85c2d5f56c2d,67,0xe8c6c9227491c0a8156a0106a0204d881bb7e531,[0xc42079f94a6350d7e6235f29174924f928cc2ac818e...,0xffffffffffffffffffffffffffffffffffffffffffff...,False,SUCCESS,0xec1f6c3634240783f161583cc0ade895caa238d93a27...,1eb0a46822ec1a19839d0e675388f947,2000-01-01T00:00:00.000Z,2000-01-01T00:00:00.000Z,7
8,16312243,2023-01-01T13:33:47.000Z,0x4d2b24619f7ff063df232bda3e68d5508058b8a41074...,0x5ae401dc,0x869ea8900056f1b99ade7582ff1cc0b0c9496321,0x68b3465833fb72a70ecdf485e0e4c7bd8665fc45,132,0xe8c6c9227491c0a8156a0106a0204d881bb7e531,[0xc42079f94a6350d7e6235f29174924f928cc2ac818e...,0xffffffffffffffffffffffffffffffffffffffffffff...,False,SUCCESS,0x4d2b24619f7ff063df232bda3e68d5508058b8a41074...,16baa90b291a94378caabe7bd1d3d719,2000-01-01T00:00:00.000Z,2000-01-01T00:00:00.000Z,8
9,16312129,2023-01-01T13:10:59.000Z,0x36510e7dfae37354fc8952f961e8b3332c7b3792fab1...,0x000600f8,0x479bc00624e58398f4cf59d78884d12fb515790a,0x57c1e0c2adf6eecdb135bcf9ec5f23b319be2c94,23,0xe8c6c9227491c0a8156a0106a0204d881bb7e531,[0x70935338e69775456a85ddef226c395fb668b63fa01...,0x00000000000000000000000057c1e0c2adf6eecdb135...,False,SUCCESS,0x36510e7dfae37354fc8952f961e8b3332c7b3792fab1...,2928ed099782e62ed944146885548faa,2000-01-01T00:00:00.000Z,2000-01-01T00:00:00.000Z,9