In [2]:
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
# Load the Parquet file
df = pd.read_parquet('ekubo_market_depth_dataset.parquet')

In [5]:
# Quick overview on the first 5 rows
df.head()

,BLOCK_NUMBER,BLOCK_TIMESTAMP,TX_HASH,TX_ID,POOL_ID,TOKEN0_ADDRESS,TOKEN1_ADDRESS,EVENT_NAME,FROM_ADDRESS,TO_ADDRESS,...,TOKEN0_REAL_AMOUNT,TOKEN1_RAW_AMOUNT,TOKEN1_DECIMALS,TOKEN1_REAL_AMOUNT,FEE_TIER,LIQUIDITY_AMOUNT,LOWER_TICK,UPPER_TICK,SWAP_TICK,TICK_SPACING
0,328311,2023-10-16 15:58:15,0x068ae08b780c44b6d5674540a49bbda991410bcd3ae8...,5461067_0_328311_98,0x00000005dd3d2f4429af886cd1a3b08289dbcea99a29...,0x053c91253bc9682c04929ca02ed00b3e423f6710d2ee...,0x068f5c6a61780768455de69077e07e89787839bf8166...,Mint,0x0372a7f547471e9fa006dc945d5c10b2a80478ca7e35...,0x00000005dd3d2f4429af886cd1a3b08289dbcea99a29...,...,-0.079991999999999993664623332279,-80000,6,-0.080000000000000001665334536938,0.0005,8039644,-20000,20000,0,1000
1,328253,2023-10-16 15:05:36,0x00bdc788d3ce6493eb7adefba441fe4e044a21d1d0f6...,5461067_0_328253_212,0x00000005dd3d2f4429af886cd1a3b08289dbcea99a29...,0x053c91253bc9682c04929ca02ed00b3e423f6710d2ee...,0x068f5c6a61780768455de69077e07e89787839bf8166...,Mint,0x04e64ccbadc967b4f14b16b6015ae18a4e50026f3cd1...,0x00000005dd3d2f4429af886cd1a3b08289dbcea99a29...,...,-82.087671999999997751729097217321,-82095379,6,-82.095378999999994107383827213198,0.0005,8250270816,-20000,20000,0,1000
2,328269,2023-10-16 15:23:34,0x03b06aff66afbc79d2e5c2a48919d4c773ef589e7ead...,5461067_0_328269_137,0x00000005dd3d2f4429af886cd1a3b08289dbcea99a29...,0x049d36570d4e46f48e99674bd3fcc84644ddd6b96f7c...,0x053c91253bc9682c04929ca02ed00b3e423f6710d2ee...,Mint,0x04c7b913ce8d1d7a0bfcdad2546abfdb657958660a06...,0x00000005dd3d2f4429af886cd1a3b08289dbcea99a29...,...,-0.000632340897114350044931618822,-997738,6,-0.997738000000000013756107364316,0.0005,2524377067828,-20284000,-20244000,0,1000
3,328545,2023-10-16 20:56:28,0x034398a7788f3a78c60956da2d128c56b21491b36f0e...,5461067_0_328545_149,0x00000005dd3d2f4429af886cd1a3b08289dbcea99a29...,0x049d36570d4e46f48e99674bd3fcc84644ddd6b96f7c...,0x053c91253bc9682c04929ca02ed00b3e423f6710d2ee...,Mint,0x05022bef5db6faded63797c25dc1834ebb7936347894...,0x00000005dd3d2f4429af886cd1a3b08289dbcea99a29...,...,-0.000641968862647891952248613290,-1000000,6,-1.000000000000000000000000000000,0.0005,2546541156515,-20279000,-20239000,0,1000
4,328205,2023-10-16 13:42:10,0x051ca2db4564744fc6de3545e34e2f623a302d085cc1...,5461067_0_328205_41,0x00000005dd3d2f4429af886cd1a3b08289dbcea99a29...,0x053c91253bc9682c04929ca02ed00b3e423f6710d2ee...,0x068f5c6a61780768455de69077e07e89787839bf8166...,Mint,0x054526db0dbc4db39941a6c31d90df72b4f940ef3c59...,0x00000005dd3d2f4429af886cd1a3b08289dbcea99a29...,...,-105.941124000000002070009941235185,-106177367,6,-106.177367000000003827153705060482,0.0005,10659047790,-20000,20000,0,1000

In [6]:
# Overview on the dataframe structure
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3024741 entries, 0 to 3024740
Data columns (total 22 columns):
 #   Column              Dtype
---  ------              -----
 0   BLOCK_NUMBER        object
 1   BLOCK_TIMESTAMP     datetime64[ns]
 2   TX_HASH             object
 3   TX_ID               object
 4   POOL_ID             object
 5   TOKEN0_ADDRESS      object
 6   TOKEN1_ADDRESS      object
 7   EVENT_NAME          object
 8   FROM_ADDRESS        object
 9   TO_ADDRESS          object
 10  TOKEN0_RAW_AMOUNT   object
 11  TOKEN0_DECIMALS     object
 12  TOKEN0_REAL_AMOUNT  object
 13  TOKEN1_RAW_AMOUNT   object
 14  TOKEN1_DECIMALS     object
 15  TOKEN1_REAL_AMOUNT  object
 16  FEE_TIER            float32
 17  LIQUIDITY_AMOUNT    object
 18  LOWER_TICK          object
 19  UPPER_TICK          object
 20  SWAP_TICK           object
 21  TICK_SPACING        object
dtypes: datetime64[ns](1), float32(1), object(20)
memory usage: 496.2+ MB

In [7]:
# A quick view on values of one row
df.iloc[100]

BLOCK_NUMBER                                                     317634
BLOCK_TIMESTAMP                                     2023-10-13 03:18:38
TX_HASH               0x008dcce8b4d0814d1655d294aa9a6ba898ece028e317...
TX_ID                                              5461067_0_317634_132
POOL_ID               0x00000005dd3d2f4429af886cd1a3b08289dbcea99a29...
TOKEN0_ADDRESS        0x053c91253bc9682c04929ca02ed00b3e423f6710d2ee...
TOKEN1_ADDRESS        0x068f5c6a61780768455de69077e07e89787839bf8166...
EVENT_NAME                                                         Mint
FROM_ADDRESS          0x057ddd233caca940b84ea0c51c3905eb9ca3f4ea31bc...
TO_ADDRESS            0x00000005dd3d2f4429af886cd1a3b08289dbcea99a29...
TOKEN0_RAW_AMOUNT                                            -279110619
TOKEN0_DECIMALS                                                       6
TOKEN0_REAL_AMOUNT                  -279.110618999999985589965945109725
TOKEN1_RAW_AMOUNT                                            -279094071
TOKEN1_DECIMALS                                                       6
TOKEN1_REAL_AMOUNT                  -279.094070999999985360773280262947
FEE_TIER                                                         0.0005
LIQUIDITY_AMOUNT                                            28050032209
LOWER_TICK                                                       -20000
UPPER_TICK                                                        20000
SWAP_TICK                                                             0
TICK_SPACING                                                       1000
Name: 100, dtype: object